<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wannengyongyao.drug.dao.DrugUserCartMapper">
  <resultMap id="UserCart" type="com.wannengyongyao.drug.model.DrugUserCart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, drug_id, drug_name, unit, unit_price, specifications, quantity,manufacturer, create_time
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="UserCart">
    select 
    <include refid="Base_Column_List" />
    from drug_user_cart
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getUserCart" resultMap="UserCart">
    select
    <include refid="Base_Column_List" />
    from
      drug_user_cart
    WHERE
      user_id = #{userId,jdbcType=BIGINT}
    AND
      drug_id = #{drugId,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.wannengyongyao.drug.model.DrugUserCart">
    insert into drug_user_cart (
      user_id,
      drug_id,
      drug_name,
      unit,
      unit_price,
      specifications,
      quantity,
      manufacturer,
      create_time)
    values (
      #{userId,jdbcType=BIGINT},
      #{drugId,jdbcType=INTEGER},
      #{drugName,jdbcType=VARCHAR},
      #{unit,jdbcType=VARCHAR},
      #{unitPrice,jdbcType=DECIMAL},
      #{specifications,jdbcType=VARCHAR},
      #{quantity,jdbcType=INTEGER},
      #{manufacturer,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="listUserCart" resultMap="UserCart">
    select
    <include refid="Base_Column_List" />
    from
      drug_user_cart
    where
      user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteUserCart" parameterType="com.wannengyongyao.drug.model.DrugUserCart">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
    DELETE FROM drug_user_cart
    WHERE
      user_id = #{item.userId,jdbcType=BIGINT}
    AND
      drug_id = #{item.drugId,jdbcType=INTEGER}
    </foreach>
  </delete>

  <update id="changeUserCartQuantity">
    UPDATE
      drug_user_cart
    SET
      quantity = quantity + #{quantity}
    WHERE
      user_id = #{userId,jdbcType=BIGINT}
    AND
      drug_id = #{drugId,jdbcType=INTEGER}
  </update>
</mapper>