<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wannengyongyao.drug.dao.DrugOrderGoodsMapper">
  <resultMap id="OrderGoods" type="com.wannengyongyao.drug.model.DrugOrderGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="photos" jdbcType="VARCHAR" property="photos" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, drug_id, drug_name, unit_price, specifications, quantity, manufacturer,photos,remark,create_time
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="OrderGoods">
    select 
    <include refid="Base_Column_List" />
    from drug_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.wannengyongyao.drug.model.DrugOrderGoods">
    insert into drug_order_goods (
      order_id,
      drug_id,
      drug_name,
      unit_price,
      specifications,
      quantity,
      manufacturer,
      photos,
      remark,
      create_time)
    values
    <foreach collection ="list" item="goods" separator =",">
    (
      #{goods.orderId,jdbcType=VARCHAR},
      #{goods.drugId,jdbcType=INTEGER},
      #{goods.drugName,jdbcType=VARCHAR},
      #{goods.unitPrice,jdbcType=DECIMAL},
      #{goods.specifications,jdbcType=VARCHAR},
      #{goods.quantity,jdbcType=INTEGER},
      #{goods.manufacturer,jdbcType=VARCHAR},
      #{goods.photos,jdbcType=VARCHAR},
      #{goods.remark,jdbcType=VARCHAR},
      #{goods.createTime,jdbcType=TIMESTAMP}
    )
    </foreach>
  </insert>

  <update id="confirm" parameterType="com.wannengyongyao.drug.model.DrugOrderGoods">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      UPDATE drug_order_goods
      SET
        unit_price = #{item.unitPrice}
      WHERE
        id = #{item.id}
    </foreach>
  </update>

  <select id="listDrugs" resultType="com.wannengyongyao.drug.model.DrugOrderGoods">
    SELECT
      drug_id,
      unitPrice,
      quantity
    FROM
      drug_order_goods
    WHERE
      order_id = #{orderId}
  </select>
</mapper>