<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wannengyongyao.drug.dao.DrugSellerMapper">
  <resultMap id="Seller" type="com.wannengyongyao.drug.model.DrugSeller">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="classify" jdbcType="VARCHAR" property="classify" />
    <result column="account_balance" jdbcType="DECIMAL" property="accountBalance" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_ip" jdbcType="VARCHAR" property="createIp" />
    <result column="last_updated_time" jdbcType="TIMESTAMP" property="lastUpdatedTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="receive_status" jdbcType="INTEGER" property="receiveStatus" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="success_rate" jdbcType="INTEGER" property="successRate" />
    <result column="last_drug_name" jdbcType="VARCHAR" property="lastDrugName" />
  </resultMap>
  <sql id="Base_Column_List">
    s.id, s.name, gender, mobile, id_number, job, s.classify, account_balance, s.remark, s.create_time,
    create_ip, s.last_updated_time, s.status, receive_status, store_id
  </sql>

  <select id="get" parameterType="java.lang.Long" resultMap="Seller">
    select 
      <include refid="Base_Column_List" />,
      st.name as store_name
    from
      drug_seller s
    inner join
      drug_store st
    on
      s.store_id = st.id
    where
      s.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getSellerByOpenid" resultMap="Seller">
    select
      <include refid="Base_Column_List" />
    from
      drug_seller s
    where
      s.openid = #{openid}
  </select>

  <insert id="insert" parameterType="com.wannengyongyao.drug.model.DrugSeller">
    insert into drug_seller (
      name,
      gender,
      mobile,
      id_number,
      job,
      classify,
      account_balance,
      remark,
      create_time,
      create_ip,
      last_updated_time,
      status,
      receive_status,
      openid,
      store_id
      )
    values (
      #{name,jdbcType=VARCHAR},
      #{gender,jdbcType=INTEGER},
      #{mobile,jdbcType=VARCHAR},
      #{idNumber,jdbcType=VARCHAR},
      #{job,jdbcType=VARCHAR},
      #{classify,jdbcType=VARCHAR},
      #{accountBalance,jdbcType=DECIMAL},
      #{remark,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{createIp,jdbcType=VARCHAR},
      #{lastUpdatedTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER},
      #{receiveStatus,jdbcType=INTEGER},
      #{openid,jdbcType=VARCHAR},
      #{storeId,jdbcType=INTEGER}
      )
  </insert>

  <select id="getPharmacitsByMobile" resultMap="Seller">
    select
    <include refid="Base_Column_List" />
    from
      drug_seller s
    where
      mobile = #{mobile,jdbcType=VARCHAR}
  </select>

  <select id="myPharmacists" resultType="com.wannengyongyao.drug.model.DrugSeller">
    SELECT
      se.id,
      se.name,
      se.gender,
      se.mobile,
      se.store_id as storeId,
      st.name as storeName
    FROM
      drug_seller se
    INNER JOIN
      drug_store st
    ON
      se.store_id = st.id
    INNER JOIN
      drug_user_pharmacist p
    ON
      se.id = p.pharmacist_id
    WHERE
      p.user_id = #{userId}
  </select>

  <update id="update" parameterType="com.wannengyongyao.drug.model.DrugSeller">
    UPDATE
      drug_seller
    SET
      name = #{name},
      job = #{job},
      id_number = #{idNumber}
    WHERE
      id = #{id}
  </update>

  <select id="reliableSeller" resultType="com.wannengyongyao.drug.model.DrugSeller">
    SELECT
      s.id,
      s.name,
      s.success_rate as successRate,
      s.last_drug_name as lastDrugName,
      st.name as storeName
    FROM
      drug_seller s
    INNER JOIN
      drug_store  st
    ON
      s.store_id = st.id
    ORDER BY
      success_rate DESC
  </select>
</mapper>