<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wannengyongyao.drug.dao.DrugUserMapper">
  <resultMap id="User" type="com.wannengyongyao.drug.model.DrugUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_ip" jdbcType="VARCHAR" property="createIp" />
    <result column="last_updated_time" jdbcType="TIMESTAMP" property="lastUpdatedTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    u.id, `name`, gender, mobile, remark, u.create_time, create_ip, last_updated_time, status
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="User">
    select 
    <include refid="Base_Column_List" />
    from drug_user u
    where u.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getByMobile" resultMap="User">
    select
    <include refid="Base_Column_List" />
    from drug_user u
    where
      mobile = #{mobile}
  </select>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.wannengyongyao.drug.model.DrugUser">
    insert into drug_user (
      `name`,
      gender,
      mobile,
      avatar,
      openid,
      remark,
      create_time,
      create_ip,
      last_updated_time,
      status
      )
    values (
      #{name,jdbcType=VARCHAR},
      #{gender,jdbcType=INTEGER},
      #{mobile,jdbcType=VARCHAR},
      #{avatar,jdbcType=VARCHAR},
      #{openId,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{createIp,jdbcType=VARCHAR},
      #{lastUpdatedTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertUserPharmacist" parameterType="com.wannengyongyao.drug.model.DrugUserPharmacist">
    INSERT INTO drug_user_pharmacist(
      user_id,
      pharmacist_id,
      create_time
    )
    VALUES(
      #{userId},
      #{pharmacistId},
      #{createTime}
    )
  </insert>

  <select id="getUserPharmacist" resultType="java.lang.Integer">
    SELECT COUNT(0) FROM drug_user_pharmacist
    WHERE
      user_id = #{userId,jdbcType=BIGINT}
    AND
      pharmacist_id = #{pharmacistId}
  </select>

  <insert id="insertUserStore" parameterType="com.wannengyongyao.drug.model.DrugUserStore">
    INSERT INTO drug_user_store(
      user_id,
      store_id,
      create_time
    )
    VALUES(
      #{userId},
      #{storeId},
      #{createTime}
    )
  </insert>

  <select id="getUserStoreCount" resultType="java.lang.Integer">
    SELECT COUNT(0) FROM drug_user_store
    WHERE
      user_id = #{userId, jdbcType=BIGINT}
    AND
      store_id = #{storeId}
  </select>

  <select id="getUserStores" resultType="com.wannengyongyao.drug.model.DrugStore">
    SELECT
      s.id,
      s.name,
      s.address,
      s.classify
    FROM
      drug_user_store us
    INNER JOIN
      drug_store s
    ON
      us.store_id = s.id
    WHERE
      user_id = #{userId, jdbcType=BIGINT}
  </select>

  <select id="getPharmacistUsers" resultMap="User">
    SELECT
      u.id,
      u.name,
      u.gender,
      u.mobile,
      u.status,
      p.create_time,
      p.drug_num as drugNum
    FROM
      drug_user_pharmacist p
    INNER JOIN
      drug_user u
    ON
      p.user_id = u.id
    WHERE
      p.pharmacist_id = #{pharmacistId}
  </select>

  <insert id="insertUserLongTerm" parameterType="com.wannengyongyao.drug.model.DrugUserLongterm">
    INSERT INTO drug_user_longterm(
      user_id,
      drug_id,
      drug_name,
      unit,
      unit_price,
      specifications,
      quantity,
      manufacturer,
      create_time)
    values (
      #{userId,jdbcType=BIGINT},
      #{drugId,jdbcType=INTEGER},
      #{drugName,jdbcType=VARCHAR},
      #{unit,jdbcType=VARCHAR},
      #{unitPrice,jdbcType=DECIMAL},
      #{specifications,jdbcType=VARCHAR},
      #{quantity,jdbcType=INTEGER},
      #{manufacturer,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="listUserLongTerm" resultType="com.wannengyongyao.drug.model.DrugUserLongterm">
    SELECT *
    FROM
      drug_user_longterm
    WHERE
      user_id = #{userId}
  </select>

  <delete id="deleteUserLongTerm" parameterType="com.wannengyongyao.drug.model.DrugUserLongterm">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      DELETE FROM
        drug_user_longterm
      WHERE
        user_id = #{item.userId,jdbcType=BIGINT}
      AND
        drug_id = #{item.drugId,jdbcType=INTEGER}
    </foreach>
  </delete>

  <select id="getUserLongTerm" resultType="com.wannengyongyao.drug.model.DrugUserLongterm">
    select
      *
    from
      drug_user_longterm
    WHERE
      user_id = #{userId,jdbcType=BIGINT}
    AND
      drug_id = #{drugId,jdbcType=INTEGER}
  </select>
</mapper>