<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wannengyongyao.drug.dao.DrugStoreCertificationMapper">
  <resultMap id="StoreCertification" type="com.wannengyongyao.drug.model.DrugStoreCertification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, image_url, create_time
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="StoreCertification">
    select 
    <include refid="Base_Column_List" />
    from drug_store_certification
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.wannengyongyao.drug.model.DrugStoreCertification">
    insert into drug_store_certification (id, store_id, image_url, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=BIGINT}, #{imageUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

</mapper>